# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Test python-${{ matrix.python }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ["3.7", "3.8", "3.9", "3.10", "3.11"] # shotgun-api3 is not yet compatible with python 3.12 (see https://community.shotgridsoftware.com/t/modulenotfounderror-no-module-named-shotgun-api3-lib-six-moves/18345/4)

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_test.txt
    - name: "Run pytest for python${{ matrix.python-version }}"
      run: |
        pytest --cov=./ --cov-report=xml
    - name: Collect coverage
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: ./coverage.xml
        verbose: true
    - name: Run mypy
      uses: jpetrucciani/mypy-check@master
      with:
        path: '.'
        mypy_flags: '--config-file pyproject.toml'
  lint:
    name: "Lint code with ruff"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          src: "./src ./tests"
